

 *{
     margin: 0;
     padding: 0;
 }
 .burger{
     display: block;
 }
  .navbar #logo{
    margin: auto;
    margin-right: 20%;
}
  .navbar img{
  
    border-radius: 55px;
    margin: 0px 74px;
  }
    #main{position: relative;
        display: block;
    }
 .navbar{
     align-items: center;
     width: 100%;
     
    }
    .navbar::before{
        width: 454px;
        height: 80px;
        margin-top:-13px;
    }
    #body::before{
        width: 454px;
        height: 290px;
    }
    #head{
        width: 429px;

    }
    #head h1{
        font-size: 2rem;
    }
    #head p{
        font-size: 1rem;
    }
    #services{
        font-size: 1rem;
        text-align: center;
        margin-top: -12px;
    }
    .backcard{
        display: none;
    }
    .backcard2{
        display: none;
    }
    .backcard3{
        display: none;
    }
    section p{
        margin-top: 2%;
    }
    #box1{
        width: 410px;
        height: 156px;
        
    }
    #box1::before{
        width: 410px;
        height: 156px;
        
    }
    #box2{
        width: 410px;
        height: 156px;
        
    }
    #box2::before{
        width: 410px;
        height: 156px;
    } 
    #box3{
        width: 410px;
        height: 156px;
    
    }
    #box3::before{
        width: 410px;
        height: 156px;
    }  

    .container_section{
        flex-direction: column;
    }
    .footer-left{
        width: 410px;
        text-align: left;
        margin-left: 10px;
    }
    .footer-mid{
        width: 410px;
        text-align: left;
        margin-left: 10px;
    }
    .footer-right{
        width: 410px;
        text-align: left;
        margin-left: 10px;
    }
    .footer{
        width: 429px;
        height: 200px;
     
    }
    .footer::before{
        height:159%;
        width: 454px;
    }
    footer{
        margin-top: 607px;
        width: 429px;
    }
 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .openbtn {
      display: block;
    font-size: 25px;
    cursor: pointer;
    background:none;
    color:black;
    padding: 10px 15px;
    border: none;
    left: 0px;
    position: absolute;

    top: -5px;
  }
 
  #main {
    transition: margin-right .5s;
    padding: 20px;
  }
  @media screen and (max-height: 1204px) {
    #mySidebar bar {padding-top: 0px;}
    #mySidebar  a {font-size: 18px;
    flex-direction: column;
}  
  }
  #mySidebar {
    height: 0; 
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-bottom-right-radius:500px ;
    background-color: rgb(141, 218, 218);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.75s;
    flex-direction: column; 
  }
  #mySidebar a {
   text-decoration: none;
    padding: 1px 8px;
    border-radius: 9px;
    color: black;
    font-size: 1.4rem;
    display: block;
    transition: 0.3s;
  }

  #mySidebar ul li a:hover{
        color: white;
        background-color: rgb(107, 84, 84);
    
  }

  #mySidebar .closebtn {
    position: absolute;
    top: 0;
    left: 25%;
    font-size: 36px;
    margin-left: 50px;
    color: black;
  }

  .footer{
      flex-direction: column;
      text-align: center;
  }
  .lists{
   
    left: -5px;
    top:47px;
    width: 96%;
}
  .lists#list2{
   
    left: -5px;
    top: 47px;
    width: 96%;
    
}
  .lists#list3{
   
    left: -5px;
    top: 47px;
    width: 96%;
    
}
